* {
    font-family: Garamond;
}
header {
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
    float: left;
}
main {
    width: 80%;
    height: 600px;
    float: left;
}
aside {
    background-color: coral;
    width: 20%;
    height: 680px;
    float: right;
}
footer {
    background-color: tomato;
    text-align: center;
    color: white;
    clear: both;
}
img {
    border-radius: 50%;
    padding: 0px 25px;
}
.chat {
    border: solid 1px tomato;
    padding: 15px;
    height: 470px;
    overflow: scroll;
    clear: both;
}
main > .chat > div {
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
.jolanta {
    background-color: #EEE;
}
.jolanta img {
    float: left;
}
.krzysztof {
    background-color: #CCC;
    text-align: right;
}
.krzysztof img {
    float: right;
}
button {
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font: bold;
}
input {
    width: 500px;
}