* {
    font-family: Georgia, serif;
    margin: 0;
}
header, footer {
    background-color: forestgreen;
    color: white;
    padding: 2px;
    text-align: center;
    clear: both;
}
nav {
    background-color: darkkhaki;
    height: 150px;
    overflow: hidden;
}
aside, section {
    background-color: khaki;
    width: 50%;
    height: 400px;
    float: left;
}
aside img {
    padding: 2px;
    margin: 10px;
    border: 2px dashed forestgreen;
    border-radius: 40px;
}
p {
    font-size: 120%;
    font-style: italic;
}